.button {
  padding: 8px;
  background: #fafafa;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  color: #00EC82;
  border-color: #00EC82;
}

.input {
  padding: 8px;
  border-radius: 5px;
  margin-right: 5px;
}

.link {
  cursor: pointer;
  color: #00EC82;
}